spring:
  datasource:
    url: jdbc:mysql://localhost:3306/attendance_db?useSSL=false&serverTimezone=UTC
    username: root
    password: Mysql#2025
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true

server:
  port: 8080
